div{
    width: 23%;
    height: 500px;
    background-color: rgb(0, 1, 4);
    border: white 4px solid;
    float: left;
    color: rgb(14, 1, 1);
    text-align: center;
    padding-left: 20px;
    padding-right: 16px;
    margin-left: -9px;
    margin-right: 2px;
}

img{
    width: 100%;
    height: 300px;
}

body{
    background-color: aqua;
}